<!DOCTYPE html>
<html>
  <head>
    <title>Surf Shop</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%include ../layouts/navbar -%>
    <%- body -%>  
    
</body>
</html>